# PyCity Schools Analysis

Math and Reading scores and passing rates were analyzed to spot any underlying trends. The data comes from nearly 40,000 High School students, distributed among 15 schools. All students are in grades 9 to 12.

Important sidenote: For clarity and ease of understanding, scores are rounded to the nearest tenth, and percentages are rounded to the nearest hundreth, both in analysis and in the DataFrames.

The following trends have been observed:


1. STUDENTS SCORE BETTER IN READING THAN IN MATH.
Overall, students have a much better score in Reading (81.9) than in Math (79.0)


2. SCORES ARE RELATIVELY CONSISTENT BY GRADE.
While average scores are different by school,the scores per Grade Level at each school are rarely off by more than 2 points.


3. SPENDING PER STUDENT IS INVERSELY PROPORTIONAL SCORING.
The more money spent per capita on a student leads to lower scoring in BOTH Math and Reading.


4. CHARTER SCHOOLS OUTPERFORM THEIR DISTRICT COUNTERPARTS, ESPECIALLY IN MATH.
Compared by School Type, Charter School students Score were higher than District students by 7.4 points. They also outperform District Students in Reading, but by less than 3 points.

# Combined DataSet of Schools and Students

In [502]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

- 40,000 High School students 
- 15 schools

- Over $24.6 Million on School funding
- Reading scores (81.9 Avg) higher than math scores (79.0 Avg)

In [508]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].value_counts())

In [509]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"].value_counts())

In [510]:
# Calculate the total budget
budgetArray = school_data_complete["budget"].unique()
total_budget = budgetArray.sum()

In [511]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()

In [512]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()

In [513]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

In [514]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [515]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

In [516]:
both_failing_rate = 100 - passing_math_percentage - passing_reading_percentage + overall_passing_rate

In [517]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Math Score": round(average_math_score, 1),
    "Average Reading Score": round(average_reading_score, 1),
    "% Passing Math": round(passing_math_percentage, 2),
    "% Passing Reading": round(passing_reading_percentage, 2),
    "% Overall Passing": round(overall_passing_rate, 2),
    "% Failing Both": round(both_failing_rate, 2)
}, index = [0])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,% Failing Both
0,15,"39,170","$24,649,428.00",79.0,81.9,74.98,85.81,65.17,4.39

## School Summary

- 8 of 15 Schools are "Charter" Schools
- 7 of 15 Schools are "District" (Public) Schools

- Largest has 4976 students ( Bailey High School )
- Smallest has 427 students ( Holden High School )

In [518]:
school_name = ["Huang High School",
               "Figueroa High School",
               "Shelton High School",
               "Hernandez High School",
               "Griffin High School",
               "Wilson High School",
               "Cabrera High School",
               "Bailey High School",
               "Holden High School",
               "Pena High School",
               "Wright High School",
               "Rodriguez High School",
               "Johnson High School",
               "Ford High School",
               "Thomas High School",
              ]

In [519]:
# Use the code provided to select all of the school types
school_type = [
    "District",
    "District",
    "Charter",
    "District",
    "Charter",
    "Charter",
    "Charter",
    "District",
    "Charter",
    "Charter",
    "Charter",
    "District",
    "District",
    "District",
    "Charter",
]

In [520]:
# Calculate the total student count per school
per_school_counts = []
i = 0
for i in range(school_count):
    kidCount = school_data_complete.loc[school_data_complete["School ID"] == i, :]["student_name"].count()
    per_school_counts.append(kidCount)

In [521]:
# Calculate the total school budget and per capita spending per school
per_school_budget = []
i = 0
for i in range(school_count):
    budgetCount = school_data_complete.loc[school_data_complete["School ID"] == i, :]["budget"].mean()
    per_school_budget.append(budgetCount)

per_school_capita = [x / y for x,y in zip(per_school_budget, per_school_counts)]

In [522]:
# Calculate the average test scores per school
per_school_math = []
i = 0
for i in range(school_count):
    mathScore = school_data_complete.loc[school_data_complete["School ID"] == i, :]["math_score"].mean()
    per_school_math.append(mathScore)
per_school_math

per_school_reading = []
j = 0
for j in range(school_count):
    readScore = school_data_complete.loc[school_data_complete["School ID"] == j, :]["reading_score"].mean()
    per_school_reading.append(readScore)

In [523]:
per_school_math = [round(x, 1) for x in per_school_math ]
per_school_reading = [round(y, 1) for y in per_school_reading ]

In [524]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = []
i = 0
for i in range(school_count):
    schoolTest = school_data_complete.loc[school_data_complete["School ID"] == i, :]
    mathPass = schoolTest[schoolTest["math_score"] >= 70].count()["student_name"]
    students_passing_math.append(mathPass)
    school_students_passing_math = students_passing_math

In [525]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = []
i = 0
for i in range(school_count):
    schoolTest = school_data_complete.loc[school_data_complete["School ID"] == i, :]
    readPass = schoolTest[schoolTest["reading_score"] >= 70].count()["student_name"]
    students_passing_reading.append(readPass)
    school_students_passing_reading = students_passing_reading

In [526]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = []
#i = 0
for i in range(school_count):
    schoolTest = school_data_complete.loc[school_data_complete["School ID"] == i, :]
    bothPass = ( (schoolTest[schoolTest["math_score"] >= 70].count()["student_name"]) & (schoolTest[schoolTest["reading_score"] >= 70].count()["student_name"]) )
    students_passing_math_and_reading.append(bothPass)
    school_students_passing_math_and_reading = students_passing_math_and_reading

In [527]:
# Use the provided code to calculate the passing rates
per_school_passing_math = [ round(x / y * 100, 2) for x,y in zip(school_students_passing_math, per_school_counts)]
per_school_passing_reading = [ round(x / y * 100, 2) for x, y in zip(school_students_passing_reading, per_school_counts)]
overall_passing_rate = [ round((x / y) * 100, 2) for x,y in zip(school_students_passing_math_and_reading, per_school_counts)]

In [528]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    " ": school_name,
    "School Type": school_type,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Total Students": per_school_counts,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

per_school_summary = per_school_summary.set_index(" ")

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Huang High School,District,"$1,910,635.00",$655.00,2917,76.6,81.2,65.68,81.32,11.11
Figueroa High School,District,"$1,884,411.00",$639.00,2949,76.7,81.2,65.99,80.74,8.95
Shelton High School,Charter,"$1,056,600.00",$600.00,1761,83.4,83.7,93.87,95.85,88.13
Hernandez High School,District,"$3,022,020.00",$652.00,4635,77.3,80.9,66.75,80.86,66.36
Griffin High School,Charter,"$917,500.00",$625.00,1468,83.4,83.8,93.39,97.14,88.42
Wilson High School,Charter,"$1,319,574.00",$578.00,2283,83.3,84.0,93.87,96.54,90.93
Cabrera High School,Charter,"$1,081,356.00",$582.00,1858,83.1,84.0,94.13,97.04,82.72
Bailey High School,District,"$3,124,928.00",$628.00,4976,77.0,81.0,66.68,81.93,66.32
Holden High School,Charter,"$248,087.00",$581.00,427,83.8,83.8,92.51,96.25,92.51
Pena High School,Charter,"$585,858.00",$609.00,962,83.8,84.0,94.59,95.95,94.18
Wright High School,Charter,"$1,049,400.00",$583.00,1800,83.7,84.0,93.33,96.61,92.44
Rodriguez High School,District,"$2,547,363.00",$637.00,3999,76.8,80.7,66.37,80.22,51.41
Johnson High School,District,"$3,094,650.00",$650.00,4761,77.1,81.0,66.06,81.22,64.71
Ford High School,District,"$1,763,916.00",$644.00,2739,77.1,80.7,68.31,79.30,2.77
Thomas High School,Charter,"$1,043,130.00",$638.00,1635,83.4,83.8,93.27,97.31,65.87

## Highest-Performing Schools (by % Overall Passing)

- Top 5 Schools are all Charter Schools
- No average score lower than 80

In [529]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by = "% Overall Passing", ascending = False)
top_schools.head(5)

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Pena High School,Charter,"$585,858.00",$609.00,962,83.8,84.0,94.59,95.95,94.18
Holden High School,Charter,"$248,087.00",$581.00,427,83.8,83.8,92.51,96.25,92.51
Wright High School,Charter,"$1,049,400.00",$583.00,1800,83.7,84.0,93.33,96.61,92.44
Wilson High School,Charter,"$1,319,574.00",$578.00,2283,83.3,84.0,93.87,96.54,90.93
Griffin High School,Charter,"$917,500.00",$625.00,1468,83.4,83.8,93.39,97.14,88.42

## Bottom Performing Schools (By % Overall Passing)

- Average Reading Score never lower than 80

In [530]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by = "% Overall Passing", ascending = True)
bottom_schools.head(5)

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Ford High School,District,"$1,763,916.00",$644.00,2739,77.1,80.7,68.31,79.30,2.77
Figueroa High School,District,"$1,884,411.00",$639.00,2949,76.7,81.2,65.99,80.74,8.95
Huang High School,District,"$1,910,635.00",$655.00,2917,76.6,81.2,65.68,81.32,11.11
Rodriguez High School,District,"$2,547,363.00",$637.00,3999,76.8,80.7,66.37,80.22,51.41
Johnson High School,District,"$3,094,650.00",$650.00,4761,77.1,81.0,66.06,81.22,64.71

## Math Scores by Grade

In [531]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = []
for i in range(school_count):
    math9Score = ninth_graders.loc[ninth_graders["School ID"] == i, :]["math_score"].mean()
    ninth_grader_math_scores.append(math9Score)

tenth_grader_math_scores = []
for i in range(school_count):
    math10Score = tenth_graders.loc[tenth_graders["School ID"] == i, :]["math_score"].mean()
    tenth_grader_math_scores.append(math10Score)

eleventh_grader_math_scores = []
for i in range(school_count):
    math11Score = eleventh_graders.loc[eleventh_graders["School ID"] == i, :]["math_score"].mean()
    eleventh_grader_math_scores.append(math11Score)

twelfth_grader_math_scores = []
for i in range(school_count):
    math12Score = twelfth_graders.loc[twelfth_graders["School ID"] == i, :]["math_score"].mean()
    twelfth_grader_math_scores.append(math12Score)

    
ninth_grader_math_scores = [round(w, 1) for w in ninth_grader_math_scores]
tenth_grader_math_scores = [round(x, 1) for x in tenth_grader_math_scores]
eleventh_grader_math_scores = [round(y, 1) for y in eleventh_grader_math_scores]
twelfth_grader_math_scores = [round(z, 1) for z in twelfth_grader_math_scores]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    " ": school_name,
    "9th": ninth_grader_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

# Remodel into correct format
math_scores_by_grade = math_scores_by_grade.set_index(" ")

# Display the DataFrame
math_scores_by_grade

                        9th  10th  11th  12th

Huang High School      77.0  75.9  76.4  77.2
Figueroa High School   76.4  76.5  76.9  77.2
Shelton High School    83.4  82.9  83.4  83.8
Hernandez High School  77.4  77.3  77.1  77.2
Griffin High School    82.0  84.2  83.8  83.4
Wilson High School     83.1  83.7  83.2  83.0
Cabrera High School    83.1  83.2  82.8  83.3
Bailey High School     77.1  77.0  77.5  76.5
Holden High School     83.8  83.4  85.0  82.9
Pena High School       83.6  83.4  84.3  84.1
Wright High School     83.3  84.0  83.8  83.6
Rodriguez High School  76.9  76.6  76.4  77.7
Johnson High School    77.2  76.7  77.5  76.9
Ford High School       77.4  77.7  76.9  76.2
Thomas High School     83.6  83.1  83.5  83.5

## Reading Score by Grade

In [532]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = []
for i in range(school_count):
    read9Score = ninth_graders.loc[ninth_graders["School ID"] == i, :]["reading_score"].mean()
    ninth_grader_reading_scores.append(read9Score)

tenth_grader_reading_scores = []
for i in range(school_count):
    read10Score = tenth_graders.loc[tenth_graders["School ID"] == i, :]["reading_score"].mean()
    tenth_grader_reading_scores.append(read10Score)

eleventh_grader_reading_scores = []
for i in range(school_count):
    read11Score = eleventh_graders.loc[eleventh_graders["School ID"] == i, :]["reading_score"].mean()
    eleventh_grader_reading_scores.append(read11Score)

twelfth_grader_reading_scores = []
for i in range(school_count):
    read12Score = twelfth_graders.loc[twelfth_graders["School ID"] == i, :]["reading_score"].mean()
    twelfth_grader_reading_scores.append(read12Score)

    
ninth_grader_reading_scores = [round(w, 1) for w in ninth_grader_reading_scores]
tenth_grader_reading_scores = [round(x, 1) for x in tenth_grader_reading_scores]
eleventh_grader_reading_scores = [round(y, 1) for y in eleventh_grader_reading_scores]
twelfth_grader_reading_scores = [round(z, 1) for z in twelfth_grader_reading_scores]
    
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    " ": school_name,
    "9th": ninth_grader_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})

# Remodel into correct format
reading_scores_by_grade = reading_scores_by_grade.set_index(" ")

# Display the DataFrame
reading_scores_by_grade

                        9th  10th  11th  12th

Huang High School      81.3  81.5  81.4  80.3
Figueroa High School   81.2  81.4  80.6  81.4
Shelton High School    84.1  83.4  84.4  82.8
Hernandez High School  80.9  80.7  81.4  80.9
Griffin High School    83.4  83.7  84.3  84.0
Wilson High School     83.9  84.0  83.8  84.3
Cabrera High School    83.7  84.3  83.8  84.3
Bailey High School     81.3  80.9  80.9  80.9
Holden High School     83.7  83.3  83.8  84.7
Pena High School       83.8  83.6  84.3  84.6
Wright High School     83.8  83.8  84.2  84.1
Rodriguez High School  81.0  80.6  80.9  80.4
Johnson High School    81.3  80.8  80.6  81.2
Ford High School       80.6  81.3  80.4  80.7
Thomas High School     83.7  84.3  83.6  83.8

## Scores by School Spending

In [533]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [534]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [535]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels = spending_labels)
school_spending_df

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
,,,,,,,,,,
Huang High School,District,"$1,910,635.00",$655.00,2917,76.6,81.2,65.68,81.32,11.11,$645-680
Figueroa High School,District,"$1,884,411.00",$639.00,2949,76.7,81.2,65.99,80.74,8.95,$630-645
Shelton High School,Charter,"$1,056,600.00",$600.00,1761,83.4,83.7,93.87,95.85,88.13,$585-630
Hernandez High School,District,"$3,022,020.00",$652.00,4635,77.3,80.9,66.75,80.86,66.36,$645-680
Griffin High School,Charter,"$917,500.00",$625.00,1468,83.4,83.8,93.39,97.14,88.42,$585-630
Wilson High School,Charter,"$1,319,574.00",$578.00,2283,83.3,84.0,93.87,96.54,90.93,<$585
Cabrera High School,Charter,"$1,081,356.00",$582.00,1858,83.1,84.0,94.13,97.04,82.72,<$585
Bailey High School,District,"$3,124,928.00",$628.00,4976,77.0,81.0,66.68,81.93,66.32,$585-630
Holden High School,Charter,"$248,087.00",$581.00,427,83.8,83.8,92.51,96.25,92.51,<$585
Pena High School,Charter,"$585,858.00",$609.00,962,83.8,84.0,94.59,95.95,94.18,$585-630
Wright High School,Charter,"$1,049,400.00",$583.00,1800,83.7,84.0,93.33,96.61,92.44,<$585
Rodriguez High School,District,"$2,547,363.00",$637.00,3999,76.8,80.7,66.37,80.22,51.41,$630-645
Johnson High School,District,"$3,094,650.00",$650.00,4761,77.1,81.0,66.06,81.22,64.71,$645-680
Ford High School,District,"$1,763,916.00",$644.00,2739,77.1,80.7,68.31,79.30,2.77,$630-645
Thomas High School,Charter,"$1,043,130.00",$638.00,1635,83.4,83.8,93.27,97.31,65.87,$630-645

In [536]:
#  Calculate averages for the desired columns. 
spending_math_scores = round( school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean(), 1)

spending_reading_scores = round( school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean(), 1)

spending_passing_math = round( school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean(), 2)

spending_passing_reading = round( school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean(), 2)

overall_passing_spending = round( school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean(), 2)

In [537]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Spending Ranges (Per Student)": spending_labels,
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

spending_summary = spending_summary.set_index("Spending Ranges (Per Student)")

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.5,84.0,93.46,96.61,89.65
$585-630,81.9,83.1,87.13,92.72,84.26
$630-645,78.5,81.6,73.48,84.39,32.25
$645-680,77.0,81.0,66.16,81.13,47.39

## Scores by School Size

In [538]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [539]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_counts, size_bins, labels = size_labels)
per_school_summary

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
,,,,,,,,,,
Huang High School,District,"$1,910,635.00",$655.00,2917,76.6,81.2,65.68,81.32,11.11,Large (2000-5000)
Figueroa High School,District,"$1,884,411.00",$639.00,2949,76.7,81.2,65.99,80.74,8.95,Large (2000-5000)
Shelton High School,Charter,"$1,056,600.00",$600.00,1761,83.4,83.7,93.87,95.85,88.13,Medium (1000-2000)
Hernandez High School,District,"$3,022,020.00",$652.00,4635,77.3,80.9,66.75,80.86,66.36,Large (2000-5000)
Griffin High School,Charter,"$917,500.00",$625.00,1468,83.4,83.8,93.39,97.14,88.42,Medium (1000-2000)
Wilson High School,Charter,"$1,319,574.00",$578.00,2283,83.3,84.0,93.87,96.54,90.93,Large (2000-5000)
Cabrera High School,Charter,"$1,081,356.00",$582.00,1858,83.1,84.0,94.13,97.04,82.72,Medium (1000-2000)
Bailey High School,District,"$3,124,928.00",$628.00,4976,77.0,81.0,66.68,81.93,66.32,Large (2000-5000)
Holden High School,Charter,"$248,087.00",$581.00,427,83.8,83.8,92.51,96.25,92.51,Small (<1000)
Pena High School,Charter,"$585,858.00",$609.00,962,83.8,84.0,94.59,95.95,94.18,Small (<1000)
Wright High School,Charter,"$1,049,400.00",$583.00,1800,83.7,84.0,93.33,96.61,92.44,Medium (1000-2000)
Rodriguez High School,District,"$2,547,363.00",$637.00,3999,76.8,80.7,66.37,80.22,51.41,Large (2000-5000)
Johnson High School,District,"$3,094,650.00",$650.00,4761,77.1,81.0,66.06,81.22,64.71,Large (2000-5000)
Ford High School,District,"$1,763,916.00",$644.00,2739,77.1,80.7,68.31,79.30,2.77,Large (2000-5000)
Thomas High School,Charter,"$1,043,130.00",$638.00,1635,83.4,83.8,93.27,97.31,65.87,Medium (1000-2000)

In [540]:
# Calculate averages for the desired columns. 
size_math_scores = round( per_school_summary.groupby(["School Size"])["Average Math Score"].mean(), 1)
size_reading_scores = round( per_school_summary.groupby(["School Size"])["Average Reading Score"].mean(), 1)
size_passing_math = round( per_school_summary.groupby(["School Size"])["% Passing Math"].mean(), 2)
size_passing_reading = round( per_school_summary.groupby(["School Size"])["% Passing Reading"].mean(), 2)
size_overall_passing = round( per_school_summary.groupby(["School Size"])["% Overall Passing"].mean(), 2)

In [541]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "School Size": size_labels,
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "School Size": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing,
})

# Display results
size_summary

,School Size,Average Math Score,Average Reading Score,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),93.55,83.8,83.9,96.10,93.34
Medium (1000-2000),93.60,83.4,83.9,96.79,83.52
Large (2000-5000),69.96,77.7,81.3,82.77,45.32

## Scores by School Type

In [542]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = round( per_school_summary.groupby(["School Type"])["Average Math Score"].mean(), 1)
average_reading_score_by_type = round( per_school_summary.groupby(["School Type"])["Average Reading Score"].mean(), 1)
average_percent_passing_math_by_type = round( per_school_summary.groupby(["School Type"])["% Passing Math"].mean(), 2)
average_percent_passing_reading_by_type = round( per_school_summary.groupby(["School Type"])["% Passing Reading"].mean(), 2)
average_percent_overall_passing_by_type = round( per_school_summary.groupby(["School Type"])["% Overall Passing"].mean(), 2)

In [543]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "School Type": ["Charter", "District"],
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type,
})

# Display results
type_summary

,School Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,,
Charter,Charter,83.5,83.9,93.62,96.59,86.9
District,District,76.9,81.0,66.55,80.80,38.8